
<br>
<ul>
<% if(user != "") {%>
<% for(var i=0; i<user.recipes.length; i++) {%>
<% if(i % 3 == 0) {%>
	<div class="row">
<% } %>
<div class="col-sm-6 col-md-4"> 
<div class="thumbnail" >
	<img src="<%= user.recipes[i].image %> " alt="Recipe Details" class="foodpic" id="<%= i %>">
	<h3><%= user.recipes[i].name %></h3>
		<div class="pagination-centered">
	 			<a href="#" class="btn btn-primary" role="button">Add to List</a> 
	 			<a href="/delete?item=<%= i %>" class="btn btn-default" id="delete<%= i %>" role="button">Delete</a>
	 	</div> 
		<div class="caption" id="<%= i %>" style="display:none">
			<p>
			<%  ingredientlist = user.recipes[i].ingredients.split("//") %>
			<%  directionlist = user.recipes[i].directions.split("//") %>
			<ul> <h4>Ingredients</h4>
				<% for(var k=0; k<ingredientlist.length; k++) {%>
						<%if(ingredientlist[k] != ""){ %>
							<li> <%= ingredientlist[k] %></li>
						<%}%>
				<% } %>
			</ul>
	 		</p>
	 		<p>
	 		<ul><h4>Directions</h4>
			<% for(var j=0; j<directionlist.length; j++) {%>
					<%if(directionlist[j] != ""){ %>
						<li> <%= directionlist[j] %></li>
					<%}%>
				<% } %>
			</ul>
	 		</p>
	 		
	 	</div> 
</div>
</div>
<% if((i + 1) % 3 == 0)  {%>
	</div>
<% } } } %>
</ul>

